.nav{
    grid-area: n;
    background-color: rgb(206, 232, 232);
}
.item a{
   color:rgb(235, 58, 194);
   text-decoration: none;
   margin: 10px;
   display: flex;
   justify-content: right;
}

.item a.activeLink{
    color :rgb(93, 74, 110);
}