.register {
    color: white;
    display: flex;
    font-size: 20px;
    padding-top: 20px;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

.reg {
    padding-left: 50px;

}

.reg input{
    width: 200px;
    border-style: groove;
    border-radius: 7px;
}
.reg button{
color:black;
width: 100px;
height: 30px;
font-size: 13.5px;
font-style: oblique;
}

.sign{
    text-decoration: none;
}
.error{
     color:rgb(119, 3, 3);
}